@page
@model Johari.Pages.Clients.FriendResponseModel
@{
}

<h1 id="title">Responses</h1>

<form method="post">
    <div class="wrapper">
        <div class="tableFixHead">
            <table cellpadding="5" class="table table-bordered" id="clientResponseTable">
                <thead>
                <tr>
                    <th></th>
                    <th>Adjectives</th>
                    <th>Description</th>
                    <th>Adjective Type</th>
                </tr>
                    </thead>
                <tbody>
                <tr>
                    @{
                        for (int i = 0; i < Model.Adjectives.Count(); i++)
                        {
                        <tr>
                            <td>
                                @*Checkbox*@
                                <input asp-for="@Model.Adjectives[i].Value" type="hidden" />
                                <input asp-for="@Model.Adjectives[i].Text" type="hidden" />
                                <input asp-for="@Model.Adjectives[i].Selected" id="@i+checkbox" onclick="OnCheck(@i)" />
                            </td>

                            @{
                                string[] adj = Model.Adjectives[i].Text.ToString().Split('+');
                                for (int j = 0; j < adj.Length; j++)
                                {
                                    //change adjtype to pos or neg instead of true or false
                                    adj[j] = adj[j] == "False" ? "Negative" : adj[j] == "True" ? "Positive" : adj[j];

                                    <td id="@i@j+detail" value="@adj[j]">
                                        @adj[j]
                                    </td>
                                }
                            }
                        </tr>
                    }
                    }
                    <tr />
                    </tbody>
                </table>
            </div>
            </div>
            <button type="submit" class="col-2 btn btn-primary form-control" onclick="return OnSubmitValidate()">Submit</button>
</form>

@section Scripts{ 
<script>

	var positivepicks = 0;
	var negativepicks = 0;

	function OnCheck(i) {
		var row = i;
		var column = "2";
		var d = "+detail";
		var pos = i + column + d;
		var pick = document.getElementById(pos);
		if (pick.innerText.match("Positive"))
		{
			positivepicks++;
		}
		if (pick.innerText.match("Negative")) {
			negativepicks++;
		}

		document.getElementById("title").innerText = "Positive: " + positivepicks + " Negative: " + negativepicks;
      
		
	}

	function OnSubmitValidate() {
		if (positivepicks != 12 && negativepicks!=5) {
            swal('Error', 'Please Select Exactly 12 Positive and 5 Negative Traits', 'error')
            return false;
        }
		if (positivepicks != 12) {
            swal('Error', 'Please Select Exactly 12 Positive Traits', 'error')
            return false;
		}
		if (negative != 5) {
			swal('Error', 'Please Select Exactly 5 Negative Traits', 'error')
			return false;
		}
		else return true;
    }

</script>
}



