@page

@model Johari.Pages.Clients.IndexModel
@using ApplicationCore.Models
@using Johari.Areas.Identity.Pages.Account


@{
    ViewData["Title"] = "Index";
}

<h1 id="title">Responses</h1>
<p>Select 12 positive adjective and 7 negative adjectives to describe yourself.</p>


@if (User.Identity.IsAuthenticated)

{
    <form method="post">
        <div class="wrapper">
            <div>
                @{
                    List<string> posAdj = new List<string>();
                    List<string> negAdj = new List<string>();


                    for (int i = 0; i < Model.Adjectives.Count(); i++)
                    {
                        string[] adj = Model.Adjectives[i].Text.ToString().Split('+');

                        //change adjtype to pos or neg instead of true or false
                        if (adj[2] == "True")
                        {
                            adj[2] = "Positive";
                            posAdj.Add(adj[0]);
                        }
                        else if (adj[2] == "False")
                        {
                            adj[2] = "Negative";
                            negAdj.Add(adj[0]);
                        }
                    }
                    <div>
                        <h3>Positive Adjectives</h3>
                    </div>
                    int count = 0;
                    int countAgain = 0;
                    foreach (string adj in posAdj)
                    {
                        count++;
                        if (count == 11)
                        {
                            count = 0;
                            <br />
                        }
                        <input asp-for="@Model.Adjectives[posAdj.IndexOf(adj)].Value" type="hidden" />
                        <input asp-for="@Model.Adjectives[posAdj.IndexOf(adj)].Text" type="hidden" />
                        <input asp-for="@Model.Adjectives[posAdj.IndexOf(adj)].Selected" id="posAdj" onclick="OnCheck(true)" />
                        <label for="posAdj">@adj</label>
                    }
                    <div>
                        <br />
                        <h3>Negative Adjectives</h3>
                    </div>
                    foreach (string adj in negAdj)
                    {
                        countAgain++;
                        if (countAgain == 11)
                        {
                            countAgain = 0;
                            <br />
                        }
                        <input asp-for="@Model.Adjectives[negAdj.IndexOf(adj)].Value" type="hidden" />
                        <input asp-for="@Model.Adjectives[negAdj.IndexOf(adj)].Text" type="hidden" />
                        <input asp-for="@Model.Adjectives[negAdj.IndexOf(adj)].Selected" id="negAdj" onclick="OnCheck(false)" />
                        <label for="negAdj">@adj</label>
                    }
                }
            </div>

        </div>
        <button type="submit" class="col-2 btn btn-primary form-control" onclick="return OnSubmitValidate()">Submit</button>
    </form>
}
else
{
    <p>Please Login</p>
}

@section Scripts{
    <script>

        var positivepicks = 0;
        var negativepicks = 0;

        function OnCheck(type) {
            if (type == true) {
                if (document.getElementById('posAdj').checked) {
                    positivepicks++
                }
                else {
                    positivepicks--;
                }

            }
            else if (type == false) {
                if (document.getElementById('negAdj').checked) {
                    negativepicks++;
                }
                else {
                    negativepicks--;
                }
            }
            //var row = i;
            //var column = "2";
            //var d = "+detail";
            //var pos = i + column + d;
            //var pick = document.getElementById(pos);
            //if (pick.innerText.match("Positive")) {
            //    positivepicks++;
            //}
            //if (pick.innerText.match("Negative")) {
            //    negativepicks++;
            //}

            document.getElementById("title").innerText = "Positive: " + positivepicks + " Negative: " + negativepicks;


        }

        function OnSubmitValidate() {
            if (positivepicks != 12 && negativepicks != 7) {
                swal('Error', 'Please Select Exactly 12 Positive and 7 Negative Traits', 'error')
                return false;
            }
            if (positivepicks != 12) {
                swal('Error', 'Please Select Exactly 12 Positive Traits', 'error')
                return false;
            }
            if (negativepicks != 7) {
                swal('Error', 'Please Select Exactly 7 Negative Traits', 'error')
                return false;
            }
            else return true;
        }
    </script>
}



