@page
@model Johari.Pages.Admin.IndexModel
@using ApplicationCore.Models

@{
}

<h3>Select the client you would like to run a Johari Window for.</h3>
<br />
<form method="post">
    <div class="col-5">
        <div>
            @Html.DropDownListFor(m => m.clientObj.Clients.ClientID,
                                     Model.clientObj.ClientList,
                                     " - Please select a client - ",
                                     new { @class = "form-control", @id = "ddlClient" })
            <span class="text-danger" asp-validation-for="clientObj.Clients.ClientID"></span>
        </div>
        <br />
        <button type="submit" class="col-3 btn btn-primary form-control">Submit</button>
    </div>

    @if (Model.clientObj.Clients.ClientID != 0)
    {
        <h3 style="text-align:center">@Model.clientObj.Clients.FirstName @Model.clientObj.Clients.LastName</h3>
        <br />
        <table id="johari_table" class="table table-bordered">
            <tr>
                <th id="open" class="open">Open Self</th>
                <th class="blind">Blind Self</th>

            </tr>
            <tr>
                <td>
                    @{
                        int count = 0;

                        List<string> copyOpenList = new List<string>();

                        for (int i = 0; i < Model.adjObj.OpenList.Count(); i++)
                        {
                            copyOpenList.Add(Model.adjObj.OpenList[i]);
                        }

                        for (int i = 0; i < Model.adjObj.OpenList.Count() - 1; i++)
                        {
                            //for (int j = 0; j < copyOpenList.Count(); j++)
                            //{
                            int j = 0;
                            while (j < copyOpenList.Count())
                            {

                                //if same word twice
                                if (Model.adjObj.OpenList[i] == copyOpenList[j])
                                {
                                    count++;
                                    copyOpenList.RemoveAt(j);
                                    j = 0;
                                }
                                else
                                {
                                    j++;
                                }

                            }


                            if (count == 1)
                            {
                                @Model.adjObj.OpenList[i]
                            }
                            if (count == 2)
                            {
                                <b>@Model.adjObj.OpenList[i]</b>
                            }
                            if (count > 3)
                            {
                                <u><b>@Model.adjObj.OpenList[i]</b></u>
                            }

                            count = 0;
                        }
                    }
                </td>
                <td>@Model.blind</td>
            </tr>
            <tr>
                <th class="hidden">Hidden Self</th>
                <th class="unknown">Unknown Self</th>
            </tr>
            <tr>
                <td>@Model.hidden</td>
                <td>@Model.unknown</td>
            </tr>
        </table>
    }

</form>

